.dashboard-page .card-nav{
    border-radius: 20rem !important;
}
.dashboard-page span#nome{
    color:  white;
}
.dashboard-page .dropdown-menu.show  {
    top: auto  !important;
    margin-left: 0.9rem!important;
    min-width: 8.2rem!important;
}
.dashboard-page .nav-container {
    border-radius: 5rem!important;
    box-shadow: 0 15px 35px rgb(50 50 93 / 25%), 0 5px 15px rgb(0 0 0 / 10%);
}
.dashboard-page .card-profile-image img{
    max-width: 180px;
    border-radius: .375rem;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    transition: all .15s ease;
    box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
}
.dashboard-page .icone{
    display: flow-root;
    font-size: x-large;
}
.dashboard-page .telaRND{
    min-height: 35rem!important;
}