.dashboard .card-profile-image img{
    max-width: 180px;
    border-radius: .375rem;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    transition: all .15s ease;
    box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
}
.dashboard .icone{
    display: flow-root;
    font-size: x-large;
}
.dashboard .telaRND{
    min-height: 35rem!important;
}
.btnAcoes{
  display: flex;
}
.react-bootstrap-table table {
  table-layout: auto;
}
.tabelinha{
  width: 100%;
}
.form-control-label.required::after{
  content: " *";
  color: red;
}
.dashboard .rna-wrapper .alert {
  display: flex!important;
  max-width: 600px;
  width: calc(100% - 30px);
  padding-right: 80px;
  box-shadow: 3px 3px 10px rgb(255 255 255 / 60%);
  color: hsla(0,0%,100%,.85);
}

.dashboard .rna-wrapper .alert .ni[data-notify=icon] {
  position: relative;
  top: 4px;
}

.dashboard .rna-wrapper .alert [data-notify=icon] {
  font-size: 1.25rem;
  margin-right: 1.25rem;
}
.dashboard span.alert-title {
  display: flex;
  font-family: "Comic Sans MS";
  font-size: 18px;
  font-style: italic;
}
.dashboard span.alert-msg {
  font-family: "Comic Sans MS";
  font-size: 15px;
  font-style: italic;
}