.card-nav {
  border-radius: 20rem !important;
  min-width: 6rem!important;
}
span#nome {
  color: white;
}
.dropdown-menu.show {
  top: auto !important;
  margin-left: 0.9rem !important;
  min-width: 8.2rem !important;
}
.nav-container {
  /* border-radius: 5rem !important; */
  /* box-shadow: 0 15px 35px rgb(50 50 93 / 25%), 0 5px 15px rgb(0 0 0 / 10%); */
}
.foto-nav{
  border: 2px solid #c2282b;
  height: 100%!important;
  width: 100%!important;
}
.img-default-nav{
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%!important;
  width: 100%!important;
  position: relative;
  border: 2px solid #c2282b;
}
.logo-navbar{
  background-image: url(../img/logo-nav.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50px!important;
  width: 50px!important;
}