.settings .fileinput {
  display: inline-block;
  margin-bottom: 9px;
}
.settings .fileinput input[type=file] {
  display: none;
}
.settings button, input, optgroup, select, textarea {
  font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}
.settings  .thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.settings .fileinput .thumbnail.img-circle {
  border-radius: 50%;
  max-width: 180px;
  transform: translate(0%, -50%);
}
.settings .fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  max-width: 360px;
}
.settings .img-raised {
  box-shadow: 0 10px 25px 0 rgb(0 0 0 / 30%);
}
.settings img.fileImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 180px!important;
  width: 180px!important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  transition: all .15s ease;
  box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
  border: 3px solid #c2282b;
}

@media(max-width:768px) {

  .settings img.fileImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 180px!important;
    width: 180px!important;
    border-radius: 50%;
    transform: translate(-95%, -50%);
    position: relative;
    left: 50%;
    transition: all .15s ease;
    box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
    border: 3px solid #c2282b;
  } 
  .settings .card-profile-image>.rounded-circle{
    background-image: url(../img/placeholder.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 180px!important;
    width: 180px!important;
    border-radius: .375rem;
    transform: translate(-95%, -50%);
    position: relative;
    left: 50%;
    transition: all .15s ease;
    box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
    border: 3px solid #c2282b;
  }
}

.settings .fileinput .thumbnail>img {
  max-height: 100%;
}
.settings .fileinput .btn {
  vertical-align: middle;
}
.settings .btn-round {
  border-width: 1px;
  border-radius: 30px!important;
  padding: 11px 23px;
}
.settings .btn-upload-foto{
  display: flex;
}
.settings .btn-foto{
  margin-top: -70px!important;
}
.settings .card-profile-image>.rounded-circle{
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 180px!important;
  width: 180px!important;
  border-radius: .375rem;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  transition: all .15s ease;
  box-shadow: 0 0 2rem 0 rgb(167, 178, 189)!important;
}

.settings .btnAddImage{
  /* background-color: #3498db; */
  /* border-radius: 5px; */
  /* color: #fff; */
  cursor: pointer!important;
  margin: -12px -22px!important;
  padding: 15px!important;
}